// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere

$font-family-sans-serif:Futura, sans-serif;
$brand-primary:         #252e47; //#1f3d7a; 
$brand-secondary:		#0092c7;  //#3399ff;
$brand-green:			#17a821;
$brand-red:				#cc3b4c;
$brand-grey1:			#afa8a9;
$brand-grey2:			#544d4e;

