// SCSS Syntax http://sass-lang.com/documentation/file.SASS_REFERENCE.html#css_extensions

// variable declaration in SCSS we use variables to keep style clean and easy to modify
// if we use this variable to say 50 rules and want to change the color, we would change only this variable.
$mycolor: #67A6A6;

html {
  height: 100%;
  margin-bottom: 0;
}

.site-main {
	p {
		font-family: Times;
		font-size: 19px;
	}

	h2, h3 {
		text-decoration: underline;
	}

	
}


// in SCSS we nest
nav {
  // in CSS this was selected by nav a
  background-color: white;
  
  .nav-link {
    // change a on hover example
    // in CSS this was selected by nav a:hover
    &:hover {
      color: $brand-secondary !important;
      font-weight: bold;
    }
    text-transform: uppercase;
  }	
}

.navbar-brand {
  	a {
  		color: white !important;
  	}
 }

.jumbotron-henriksberg {
  background-color: $brand-primary;
  color: white;
}

.jumbotron-landing {
    height: 100vh;
    background-size: cover;
    .container {
      top: 40%;
    }
    
    h3 {
      letter-spacing: 14px;
    }
}

.jumbotron-contact {
  background-color: $brand-secondary;
  color: white;
}



#wrapper-footer {
	background-color: $brand-primary;
	margin-bottom: 0px;
	
	footer {
		color: white;
	}
}